<div class="header header-mobi-ext">
    <div class="container">
        <div class="row">
            <!-- Logo BEGIN -->
            <div class="col-md-2 col-sm-2">
                <a class="scroll site-logo" href="#promo-block"><img src="assets/frontend/onepage/img/logo/red.png" alt="Metronic One Page"></a>
            </div>
            <!-- Logo END -->
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
            <!-- Navigation BEGIN -->
            <div class="col-md-8">
                <ul class="header-navigation">
                    <li><a href="#promo-block">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#partners">Clients</a></li>
                    <li><a href="#contact">Contact</a></li>                    
                </ul>
            </div>
            <div class="col-md-2 pull-right margin-top-15">
                <a href="skype:08916604899" class="btn btn-circle btn-sm green-meadow">
                    <i class="fa fa-phone"></i> Dail +0891-6604899
                </a>
            </div>  
            <!-- Navigation END -->
        </div>
    </div>
</div>