<div class="page-container-ext">
    <div class="row margin-bottom-40">
        <div class="col-lg-12">
            <div class="portlet light about-text">
                <h4 class="bg-color-green">
                    About Recruitment and Employment
                </h4>
                <div class="note">
                    <h4 class="block">About Us</h4>
                    <p>
                        Adonai Technologies is an national recruitment and employment agency based in Visakhapatnam, Andhra Pradesh, India.  Company has been established in 2015. Our team offers high quality services to provide the best outcomes in the recruitment and employment of personnel from a diverse set of business sectors.
                    </p>

                    <h4 class="block">Team</h4>
                    <p>
                        Our domain expertise lies in the industries like IT, Non–IT, ITES, HR, Construction, Communication & Transport, Aviation, Manufacturing, Retail, Energy, etc. Beyond recruitment services, we are involved in working closely with you for your complete Human Resource requirements, in the form of research and HR solutions. Emphasizing on timely deliveries and quality expertise, by integrating HR processes, as to provide the RIGHT PERSON for a RIGHT JOB, and we ensure that organizations derive maximum value from their human capital.
                    </p>
                    <h4 class="block">Vision</h4>
                    <p>
                        We have a team that is fully committed to believe that caring about the development and the good of an employee also serves to develop your company. We understand success as client satisfaction and long-term co-operation.
                    </p>
                    <h4 class="block">Mission</h4>
                    <p>
                        To support our clients through their current and future business challenges. Our activities are aimed at finding a balance in the labor market serve to give our clients significance, which will support their business development via the growth of employment or improvement in the quality of their human resources.
                    </p>
                </div>


            </div>
        </div>        
    </div>
</div>