<div class="page-container-ext">       
    <div class="row margin-bottom-40">
        <div class="col-lg-6">
            <div class="portlet light about-text" style="min-height:655px;">
                <h4 class="bg-color-blue">
                    About Training
                </h4>
                <div class="note">
                    <h4 class="block">About Us</h4>
                    <p> Adonai Technologies has established training division in Visakhapatnam, Andhra Pradesh, India  in 2017. Our training division offers high quality training both for fresher and young graduates who are in their final semester. Our Company also provides ON JOB TRAINING for employees to enrich knowledge and careers of young graduate engineers.</p>

                    <h4 class="block">Team</h4>
                    <p>We employ a core team of exceptional individuals and draw on a wide array of professional associates and support personnel on an as-needed basis. We have a diverse human resource capacity that consists of individuals that have worked on international, national and local levels with proven track records of delivery in the education, training and development programmers to the state, private and non-governmental sectors.<br />
                        Within our pool of professionals are people that have worked extensively in all corners of Andhra Pradesh. It should be noted that our staff and Associates come from a host of backgrounds including national and local government, business and civil society organizations.
                    </p>
                    <h4 class="block">Our Principle</h4>
                    <p>
                        We pursue the highest quality in all our training intervention by ensuring that our materials are relevant and unit standard aligned; our facilitators are experts in their field and experienced ETD professionals and that our approach to leaning is both visionary and innovative.                        
                    </p>
                    <h4 class="block">Our Unique Concept</h4>
                    <p>
                        Technologies used in the IT industry have drastically changed from last few years. We always focus on the Latest Technologies which assures a bright career for a fresh graduate. We offer a Full Time 14 week course in which student will be trained in the latest technologies of his preference like <strong>MEAN stack Development, Internet of Things, Data Science, Cyber Security and  Block Chain Technologies.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <iframe src="http://player.vimeo.com/video/22439234" style="width:100%; height:500px;border:0" allowfullscreen=""> </iframe>
        </div>
    </div>
    <div class="row margin-bottom-40 stories-header" data-auto-height="true">
        <div class="col-md-12">
            <h1>Members Success Stories</h1>
            <h2>Life is either a great adventure or nothing</h2>
        </div>
    </div>
    <div class="row margin-bottom-20 stories-cont">
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="../assets/pages/media/users/teambg1.jpg" alt="" class="img-responsive">
                </div>
                <div class="title">
                    <span> Mark Wahlberg </span>
                </div>
                <div class="desc">
                    <span> We are at our very best, and we are happiest, when we are fully engaged in work we enjoy on the journey toward the goal we've established for ourselves. </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="../assets/pages/media/users/teambg2.jpg" alt="" class="img-responsive">
                </div>
                <div class="title">
                    <span> Lindsay Lohan </span>
                </div>
                <div class="desc">
                    <span> Do what you love to do and give it your very best. Whether it's business or baseball, or the theater, or any field. If you don't love what you're doing and you can't give it your best, get out of it. </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive">
                </div>
                <div class="title">
                    <span> John Travolta </span>
                </div>
                <div class="desc">
                    <span> To be nobody but yourself in a world which is doing its best, to make you everybody else means to fight the hardest battle which any human being can fight; and never stop fighting. </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="../assets/pages/media/users/teambg8.jpg" alt="" class="img-responsive">
                </div>
                <div class="title">
                    <span> Tom Brady </span>
                </div>
                <div class="desc">
                    <span> You have to accept whatever comes and the only important thing is that you meet it with courage and with the best that you have to give. Never give up, never surrender. Go all out or gain nothing. </span>
                </div>
            </div>
        </div>
    </div>
</div>