<div class="page-container-ext">
    <div class="row margin-bottom-40">
        <div class="col-lg-12">
            <div class="portlet light about-text" style="min-height:600px">
                <h4 class="bg-color-red">
                    Software Developement
                </h4>
                <div class="note">
                    <h4 class="block">About Us</h4>
                    <p>
                        Adonai Technologies strives to provide offshore custom software solutions that will help you remain in step with your competition by continuously improving your information technology based business solutions. We use the latest software development tools, engineering and management practices. Adonai Technologies time proven experience and reputable expertise in providing custom software solutions has enabled us to meet our customer’s requirement and even surpassing their expectations.<br /><br />
                        We have top of the class industry certified software development professionals which includes project managers, software engineers, testers and designers who would adapt to your every need. In our offshore software development model, transparent project management practices that emphasize customer communication at pre determined intervals through e-mail, teleconferencing and video conferencing ensure that the customer and the project delivery team have a consistent understanding of requirements and project status at all time while developing the custom applications.<br /><br />
                        Adonai Technologies partners with emerging software leaders and provides them with custom software solutions spanning over the complete life cycle of product and application development. Our expertise lies in clearly perceiving the business goals of our customers, choosing the most appropriate technology and efficiently designing and development solutions that cater to the need identified by the business. Using our mature development methodology in building custom software solutions we help our customers to achieve their business needs. The combination of our technology experience, our project management expertise and our excellent track record in building custom software solutions has made Adonai Technologies a powerful choice for our clients.
                    </p>

                    <h4 class="block">Team</h4>
                    <p>
                        Our domain expertise lies in the industries like Construction, Communication & Transport, Aviation, Manufacturing, Retail, Energy, etc. 
                    </p>
                    <h4 class="block">Vision</h4>
                    <p>
                        To  create economical and user friendly software using the latest open source technologie.
                    </p>
                    <h4 class="block">Mission</h4>
                    <p>
                        We prefer and suggest only open source technologies and build tailor made business solutions to the client which are cost effective.
                    </p>
                </div>


            </div>
        </div>        
    </div>
</div>