<div class="row page-container-ext">
    <div class="portlet portlet-header-ext">
        <h4>Recruitment and Employment </h4>
        <div class="portlet-body">
            <div class="col-lg-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <span class="caption-subject-color-red bold uppercase">Services Offered</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <h4 class="block">Executive Search</h4>
                        <p>
                            Through Executive Search we obtain candidates with high, professional qualifications and experience in a particular industry. Knowledge of our consultants and high standards of ethical business practise carried out under the Executive Search are capable of delivering high efficacy in the recruitment of a wide range of professions, from the highest level executives to a more diverse set of specialist and precise business posts.
                        </p>
                        <h4 class="block">Search & Selection</h4>
                        <p>
                            We are planning and conducting Search & Select for the mass recruitment projects aimed in medium and technical personnel. Searches are based on our database and advertising campaigns in the biggest Polish job portals and newspapers. We recommend the top candidates from all the applications we receive.
                        </p>
                        <h4 class="block">Try & Hire/ Temporary employment</h4>
                        <p>
                            Try & Hire is a modern form of employment. This solution allows you to check the suitability of an employee before permanently employing them, following the principle: “first try, then employ”. The Try & Hire system means two services in one: recruitment and temporary employment.
                        </p>
                        <h4 class="block">Assessment Center</h4>
                        <p>
                            Our HR consultants lead candidates through practical exercises, which are directly related to the duties and responsibilities that the employee would perform in the vacant position. These preparations allow a deeper assessment of the true practical knowledge of postulants, to examine areas of competence that are must haves for the effective implementation of the appropriate tasks, and which also and identify areas for positive development. In addition, the Assessment Center gives candidates a chance for a closer insight into the specific job offer.
                        </p>
                        <h4 class="block">Psychological Tests</h4>
                        <p>
                            Our psychologists can prepare a psychological review formulated on the basis of interviews and / or tests which assess the strong and weak facets of the candidates personality characteristics.
                        </p>
                        <h4 class="block">Skills Tests</h4>
                        <p>
                            Depending on the requirements of the workplace, we conduct tests to assess the knowledge and professional skills of the candidates such as sales techniques, analytical, mathematical and language skills. These are developed or modified in consultation with the Employer's specific expectations of the position, with substantive support from specialists in the field.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <span class="caption-subject-color-red bold uppercase">Our Team</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Qualification </th>
                                    <th> Designation </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Sandeep Rejeti </td>
                                    <td> B.Tech </td>
                                    <td> Managing Director </td>
                                </tr>
                                <tr>
                                    <td>Yechuri Durga Prasad</td>
                                    <td>M.Tech </td>
                                    <td>Managing Partner </td>
                                </tr>
                                <tr>
                                    <td>Sateesh Kumar Ponnana </td>
                                    <td>B.B.M , M.B.A </td>
                                    <td>HR Manager </td>
                                </tr>
                                <tr>
                                    <td>Srinivasa Raju.V  </td>
                                    <td>M.Tech </td>
                                    <td>Technical Head </td>
                                </tr>
                                <tr>
                                    <td>Bindu Madhavi.V </td>
                                    <td>M.Tech </td>
                                    <td>Senior .Net Developer & Trainer </td>
                                </tr>
                                <tr>
                                    <td>Aroon Boddeti  </td>
                                    <td>B.Tech </td>
                                    <td>Senior .Net Developer & Trainer </td>
                                </tr>
                                <tr>
                                    <td>Pothunaidu</td>
                                    <td>M.Tech </td>
                                    <td>Business Development Manager </td>
                                </tr>
                                <tr>
                                    <td>Praveena Patnaik.P  </td>
                                    <td>M.B.A </td>
                                    <td>HR Executive </td>
                                </tr>
                                <tr>
                                    <td>G.Archana  </td>
                                    <td>B.Tech </td>
                                    <td>Java Trainer </td>
                                </tr>
                                <tr>
                                    <td>Arji Harish  </td>
                                    <td>B.Tech </td>
                                    <td>Business Development Manager </td>
                                </tr>
                                <tr>
                                    <td>CH.D.V.S.Kumar  </td>
                                    <td>B.Tech </td>
                                    <td>HR Administrator </td>
                                </tr>
                                <tr>
                                    <td>Gayathri.P  </td>
                                    <td>M.B.A </td>
                                    <td>Counselor </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

