<div class="row page-container-ext">
    <div class="portlet portlet-header-ext">
        <h4>Software Developement </h4>
        <div class="portlet-body">
            <div class="col-lg-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <span class="caption-subject-color-red bold uppercase">Services Offered</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="list-unstyled margin-top-10 margin-bottom-10">
                            <li>
                                <i class="fa fa-check"></i> Desktop Application Development
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Web Application Development
                            </li>
                            <li>
                                <i class="fa fa-check"></i> E-Commerce Solutions
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Web Site Designing
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Web Hosting
                            </li>

                            <li>
                                <i class="fa fa-check"></i> Search Engine Optimisation
                            </li>
                            <li>
                                <i class="fa fa-check"></i> DAPP’s development
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Smart Contracts
                            </li>
                            <li>
                                <i class="fa fa-check"></i> BlockChain Development
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Hybrid / Native App Development
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <span class="caption-subject-color-red bold uppercase">Our Team</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Qualification </th>
                                    <th> Designation </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Sandeep Rejeti </td>
                                    <td> B.Tech </td>
                                    <td> Managing Director </td>
                                </tr>
                                <tr>
                                    <td>Yechuri Durga Prasad</td>
                                    <td>M.Tech </td>
                                    <td>Managing Partner </td>
                                </tr>
                                <tr>
                                    <td>Sateesh Kumar Ponnana </td>
                                    <td>B.B.M , M.B.A </td>
                                    <td>HR Manager </td>
                                </tr>
                                <tr>
                                    <td>Srinivasa Raju.V  </td>
                                    <td>M.Tech </td>
                                    <td>Technical Head </td>
                                </tr>
                                <tr>
                                    <td>Bindu Madhavi.V </td>
                                    <td>M.Tech </td>
                                    <td>Senior .Net Developer & Trainer </td>
                                </tr>
                                <tr>
                                    <td>Aroon Boddeti  </td>
                                    <td>B.Tech </td>
                                    <td>Senior .Net Developer & Trainer </td>
                                </tr>
                                <tr>
                                    <td>Pothunaidu</td>
                                    <td>M.Tech </td>
                                    <td>Business Development Manager </td>
                                </tr>
                                <tr>
                                    <td>Praveena Patnaik.P  </td>
                                    <td>M.B.A </td>
                                    <td>HR Executive </td>
                                </tr>
                                <tr>
                                    <td>G.Archana  </td>
                                    <td>B.Tech </td>
                                    <td>Java Trainer </td>
                                </tr>
                                <tr>
                                    <td>Arji Harish  </td>
                                    <td>B.Tech </td>
                                    <td>Business Development Manager </td>
                                </tr>
                                <tr>
                                    <td>CH.D.V.S.Kumar  </td>
                                    <td>B.Tech </td>
                                    <td>HR Administrator </td>
                                </tr>
                                <tr>
                                    <td>Gayathri.P  </td>
                                    <td>M.B.A </td>
                                    <td>Counselor </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

