<div class="col-lg-12 page-container-ext">
    <div class="portlet portlet-header-ext margin-top-10">
        <h4>Training </h4> 
        <div class="portlet-body">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class="icon-social-twitter font-dark hide"></i>
                        <span class="caption-subject-color-red bold uppercase">Courses</span>
                    </div> 
                    <div class="pull-right margin-right-20">
                        <h4>No. of Weeks</h4>
                    </div>                      
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_actions_pending">
                            <!-- BEGIN: Actions -->
                            <div class="mt-actions">
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/courses/full_stack.jpg" class="course-icon-size">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">                                                
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Full Stack Developer</span>
                                                    <p class="mt-action-desc">Some description here...</p>
                                                </div>                                                                                             
                                            </div>                                            
                                            <div class="mt-action-buttons ">
                                                <span class="btn btn-outline red btn-sm"><strong>14</strong> Weeks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="mt-actions">
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/courses/java.png" class="course-icon-size">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Java Developer</span>
                                                    <p class="mt-action-desc">Some description here...</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <span class="btn btn-outline red btn-sm"><strong>14</strong> Weeks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-actions">
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/courses/dotnet.gif" class="course-icon-size">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">.NET Developer</span>
                                                    <p class="mt-action-desc">Some description here...</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <span class="btn btn-outline red btn-sm"><strong>14</strong> Weeks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-actions">
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/courses/blockchain.png" class="course-icon-size">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Block Chain Developer</span>
                                                    <p class="mt-action-desc">Some description here...</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <span class="btn btn-outline red btn-sm"><strong>14</strong> Weeks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-actions">
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/courses/data_scientist.png" class="course-icon-size">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Data Scientist</span>
                                                    <p class="mt-action-desc">Some description here...</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <span class="btn btn-outline red btn-sm"><strong>14</strong> Weeks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Actions -->
                        </div>
                        <div class="tab-pane" id="tab_actions_completed">
                            <!-- BEGIN:Completed-->
                            <div class="mt-actions">
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/users/avatar1.jpg">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-icon ">
                                                    <i class="icon-action-redo"></i>
                                                </div>
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Frank Cameron</span>
                                                    <p class="mt-action-desc">Lorem Ipsum is simply dummy</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-datetime ">
                                                <span class="mt-action-date">3 jun</span>
                                                <span class="mt-action-dot bg-red"></span>
                                                <span class="mt=action-time">9:30-13:00</span>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <div class="btn-group btn-group-circle">
                                                    <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                    <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/users/avatar8.jpg">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-icon ">
                                                    <i class="icon-cup"></i>
                                                </div>
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Ella Davidson </span>
                                                    <p class="mt-action-desc">Text of the printing and typesetting industry</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-datetime ">
                                                <span class="mt-action-date">3 jun</span>
                                                <span class="mt-action-dot bg-green"></span>
                                                <span class="mt=action-time">9:30-13:00</span>
                                            </div>
                                            <div class="mt-action-buttons">
                                                <div class="btn-group btn-group-circle">
                                                    <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                    <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/users/avatar5.jpg">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-icon ">
                                                    <i class=" icon-graduation"></i>
                                                </div>
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Jason Dickens </span>
                                                    <p class="mt-action-desc">Dummy text of the printing and typesetting industry</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-datetime ">
                                                <span class="mt-action-date">3 jun</span>
                                                <span class="mt-action-dot bg-red"></span>
                                                <span class="mt=action-time">9:30-13:00</span>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <div class="btn-group btn-group-circle">
                                                    <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                    <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-action">
                                    <div class="mt-action-img">
                                        <img src="../assets/pages/media/users/avatar2.jpg">
                                    </div>
                                    <div class="mt-action-body">
                                        <div class="mt-action-row">
                                            <div class="mt-action-info ">
                                                <div class="mt-action-icon ">
                                                    <i class="icon-badge"></i>
                                                </div>
                                                <div class="mt-action-details ">
                                                    <span class="mt-action-author">Jan Kim</span>
                                                    <p class="mt-action-desc">Lorem Ipsum is simply dummy</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-datetime ">
                                                <span class="mt-action-date">3 jun</span>
                                                <span class="mt-action-dot bg-green"></span>
                                                <span class="mt=action-time">9:30-13:00</span>
                                            </div>
                                            <div class="mt-action-buttons ">
                                                <div class="btn-group btn-group-circle">
                                                    <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                    <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END: Completed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject-color-red bold uppercase">Our Team</span>
                    </div>                    
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3">
                             <div class="mt-widget-1">                                
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_1.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Sandeep Rejeti</h3>
                                        <p class="mt-user-title"><i>Managing Director</i></p>
                                        <p>Experience in Software Industry</p>
                                    </div>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">                          
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>4+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_7.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Yechuri Durga Prasad</h3>
                                        <p class="mt-user-title"><i>Managing Partner</i></p>
                                        <p>Knowledge on Java / Hibernate / Spring</p>
                                    </div>                                    
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>4+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_3.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Surendra Gadee</h3>
                                        <p class="mt-user-title"><i>Technical Architect</i></p>
                                        <p>Knowledge on Java / Hibernate / Spring / Security / RBAC and worked in various MNC’s like CISCO and Juniper Networks</p>
                                    </div>                                   
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>15+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_1.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Srinivasa Raju Vuppalapati</h3>
                                        <p class="mt-user-title"><i>Head Technical</i></p>
                                        <p>Experience in Academia / Freelancing. Expert in Web Development / Full Stack Development / Block Chain Development</p>
                                    </div>                                   
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>15+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_5.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Bindu Madhavi V</h3>
                                        <p class="mt-user-title"><i>.Net Developer</i></p>
                                        <p>Experience in Academia. Expert in .Net / MVC Frameworks / Angular JS / Azure.</p>
                                    </div>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>8+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_6.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Archana Garg</h3>
                                        <p class="mt-user-title"><i>Java Developer</i></p>
                                        <p>Experience as Developer. Expert in Core and Advanced Java Languages.</p>
                                    </div>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>4+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img src="../assets/pages/media/users/avatar80_1.jpg">
                                </div>
                                <div class="mt-body">
                                    <div class="mt-height">
                                        <h3 class="mt-username">Seshadri Rao Chinta</h3>
                                        <p class="mt-user-title"><i>Team Lead</i></p>
                                        <p>Certified Ethical Hacker from EC Council, USA.</p>
                                    </div>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn font-blue">
                                                <span>Exp: <strong>5+ Yrs</strong></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

