<div class="about-block content content-center" id="about">
    <div class="container">
        <h2>About <strong>Us</strong></h2>
        <h4>Some description here...</h4>
        <div class="ab-trio">
            <img src="assets/frontend/onepage/img/trio.png" alt="" class="img-responsive" style="pointer-events: none">
            <div class="ab-cirlce ab-cirle-blue" ui-sref="welcome.aboutTraining" style="cursor:pointer">
                <i class="fa fa-users"></i>
                <strong>Training</strong>
            </div>
            <div class="ab-cirlce ab-cirle-red pad-top-ext" ui-sref="welcome.aboutSoftwareDev" style="cursor:pointer">
                <i class="fa fa-line-chart"></i>
                <strong>Software Developement</strong>
            </div>
            <div class="ab-cirlce ab-cirle-green" ui-sref="welcome.aboutRecruitAndEmp" style="cursor:pointer">
                <i class="fa fa-sitemap"></i>
                <strong>Recruitment</strong>
            </div>
        </div>
    </div>
</div>