   <!-- BEGIN PRE-FOOTER -->
<div class="pre-footer pre-footer-height" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="c-content-title-1">
                    <h3 class="uppercase">Our Contacts</h3>                   
                </div>
                <address class="margin-bottom-20">
                    Regus Elite Business Centre<br>
                    3rd Floor, Naga Chambers<br>
                    OPP: HDFC Bank, Ram Nagar Branch<br>
                    Waltair Main Road<br>
                    Visakhapatnam<br>
                    Pin: 530002, India<br>                    
                    <div class="row margin-top-10">
                        <div class="col-md-2">
                            Phone
                        </div>
                        <div class="col-md-10">
                            0891-6604899
                        </div>
                        <div class="col-md-2">
                            Email
                        </div>  
                        <div class="col-md-10">
                            <a href="mailto:info@adonaitech.in">info@adonaitech.in</a>
                        </div>
                        <div class="col-md-2">
                            Website
                        </div>
                        <div class="col-md-10">
                            <a href="http://www.adonaitech.in">www.adonaitech.in</a>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <a href="http://www.adonai.tech">www.adonai.tech</a>
                        </div>
                    </div> 
                </address>                
            </div>
            <div class="col-md-6">
                <div class="c-contact">
                    <div class="c-content-title-1">
                        <h3 class="uppercase">Keep in touch</h3>
                        <div class="c-line-left bg-dark"></div>
                        <p class="c-font-lowercase">Our helpline is always open to receive any inquiry or feedback. Please feel free to drop us an email from the form below and we will get back to you as soon as we can.</p>
                    </div>
                    <form clas="form-horizontal" action="#">
                        <div class="form-body">
                            <div class="form-group">
                                <input type="text" placeholder="Your Name" class="form-control input-md">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Your Email" class="form-control input-md">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Contact Phone" class="form-control input-md">
                            </div>
                            <div class="form-group">
                                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control input-md"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-9">
                                    <button type="submit" class="btn grey">Submit</button>
                                </div>
                            </div>
                        </div>                       
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6">
                <div class="copyright">2018 © Adonai Tech. ALL Rights Reserved.</div>
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-6 col-sm-6 pull-right">
                <ul class="social-icons">
                    <li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>
                    <li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>
                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>
                    <li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>
                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>
                    <li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>
                </ul>
            </div>
            <!-- END SOCIAL ICONS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->