<div id="divMenus">
    <!-- Promo block BEGIN -->
    <div data-ng-include="'app/views/landing/promo.html'"></div>
    <!-- Promo block END -->
    <!-- About block BEGIN -->
    <div data-ng-include="'app/views/landing/about.html'"></div>
    <!-- About block END -->
    <!-- Services block BEGIN -->
    <div data-ng-include="'app/views/landing/services.html'"></div>
    <!-- Services block END -->
    <!-- Team block BEGIN -->
    <div data-ng-include="'app/views/landing/team.html'"></div>
    <!-- Team block END -->
    <!-- Portfolio block BEGIN -->
    <div data-ng-include="'app/views/landing/portfolio.html'"></div>
    <!-- Portfolio block END -->
    <!-- Partners block BEGIN -->
    <div data-ng-include="'app/views/landing/partners.html'"></div>
    <!-- Partners block END -->
    <!-- Footer BEGIN -->
    <div data-ng-include="'app/views/landing/footer.html'"></div>
    <!-- Footer END -->
</div>