<div class="partners-block content content-center" id="partners">
    <div class="container">
        <h2 class="margin-bottom-50">Our <strong>clients</strong></h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover client-font">            
            <tbody>
                <tr>
                    <td>Felie Soft Tech Pvt Ltd</td>
                    <td>G S Associates</td>
                    <td>Snapdeal</td>
                    <td>Abhiram Constructors</td>
                    <td>Sri DhanswantriesHebral Ayurveda</td>
                </tr> 
                <tr>
                    <td>Seed(Voluntary Org).</td>
                    <td>Budha Ramesh Babu Memorial Degree & P.G.</td>
                    <td>World of Titan</td>
                    <td>Home Grand</td>
                    <td>Siva Security Services</td>
                </tr>  
                <tr>
                    <td>BlackCat Security Services & Training Institute</td>
                    <td>Bhuvi Info Solutions</td>
                    <td>Almighty Solutions</td>
                    <td>Fedilog</td>
                    <td>Pluts India</td>
                </tr>  
                <tr>
                    <td>Betamonks Solutions</td>
                    <td>Banana Apps</td>
                    <td>Green Dhunia</td>
                    <td>Avantel</td>
                    <td>21st Software Solutions</td>
                </tr>  
                <tr>
                    <td>Alkays Pvt. Ltd.</td>
                    <td>Swathi Promoters</td>
                    <td>Y.T.L. Technologies</td>
                    <td>Amzur Technologies</td>
                    <td>Prism Soft lt Technologies</td>
                </tr>  
                <tr>
                    <td>Novotel Hotel</td>
                    <td>Grand Bay Hotel</td>
                    <td>Tilak Showroom</td>
                    <td>Hotel Alpha</td>
                    <td>Shree Leather&safety Equipment</td>
                </tr>  
                <tr>
                    <td>A.K.R. Vegetables</td>
                    <td>Evolutz I.T. Services</td>
                    <td>Akash Associates</td>
                    <td>Chandana Brothers</td>
                    <td>Indo Add Media</td>
                </tr>  
                <tr>
                    <td>Kranthi Developers</td>
                    <td>Chakri Industries</td>
                    <td>KSR Security Services</td>
                    <td>Swarna Technologies</td>
                    <td>W.N.S</td>
                </tr>  
                <tr>
                    <td>Patra India Pvt. Ltd.</td>
                    <td>Honey Group</td>
                    <td>Wheels India Pvt Ltd</td>
                    <td>Lucky Shopping Mall</td>
                    <td>Xinthe Technologies</td>
                </tr>  
                <tr>
                    <td>Epic Soft</td>
                    <td>Mouri Info Tech</td>
                    <td>Blue Frog Mobile Technologies</td>
                    <td>Sharma Sports Agencies</td>
                    <td>Innov Sources</td>
                </tr>  
                <tr>
                    <td>Sree Technologies</td>
                    <td>Intellege Solutions</td>
                    <td>Fluent Grid</td>
                    <td>Vedic Soft Solutions</td>
                    <td>Taj Hotel</td>
                </tr>  
                <tr>
                    <td>Palm Beach Hotel</td>
                    <td>Inote Power Technologies</td>
                    <td>HRM Real Estates Consultancy & Developers</td>
                    <td>Master Minds</td>
                    <td>Swathi Promoters</td>
                </tr>  
                <tr>
                    <td>Kashiram Graphics & Fashions</td>
                    <td>Hotel Sarovar</td>
                    <td>Prakruthi Avenues</td>
                    <td>Bhuvaneswari Paints & Hardware</td>
                    <td>OnDot Couriers & Largo</td>
                </tr>  
                <tr>
                    <td>GGR Housing pvt Ltd</td>
                    <td>Uae Exchange & F.S. Limited</td>
                    <td>A.A. Associates</td>
                    <td>Concentrix</td>
                    <td>Sravani Food Court</td>
                </tr>  
                <tr>
                    <td>Retro Soft Solutions</td>
                    <td>Chegg</td>
                    <td>P.S.L.V. It Technologies</td>
                    <td>Celebrations Square Pvt Ltd</td>
                    <td>Sreya Foundations</td>
                </tr> 
                <tr>
                    <td>RJ Food Industries</td>
                    <td>Haritha Group Of Industries</td>
                    <td>Adecco India Pvt Ltd</td>
                    <td colspan="2"></td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <img src="assets/frontend/onepage/img/partners/cisco.png" alt="cisco">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <img src="assets/frontend/onepage/img/partners/walmart.png" alt="walmart">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <img src="assets/frontend/onepage/img/partners/gamescast.png" alt="gamescast">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <img src="assets/frontend/onepage/img/partners/spinwokrx.png" alt="spinwokrx">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <img src="assets/frontend/onepage/img/partners/ngreen.png" alt="ngreen">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <img src="assets/frontend/onepage/img/partners/vimeo.png" alt="vimeo">
        </div>
    </div>
</div>