<div class="services-block content content-center" id="services">
    <div class="container">
        <h2>Our <strong>services</strong></h2>
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-heart"></i>
                <h3>Fantastic Support</h3>
                <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-mobile"></i>
                <h3>Mobile Solutions</h3>
                <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-signal"></i>
                <h3>Market Analysis</h3>
                <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-camera"></i>
                <h3>Photography</h3>
                <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
            </div>
        </div>
    </div>
</div>