<div class="services-block content content-center" id="services">
    <div class="container">
        <h2>Our <strong>services</strong></h2>
        <p>Some description here...</p>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 item" ui-sref="welcome.trainingService" style="cursor:pointer">
                <i class="fa fa-users"></i>
                <h3>Training</h3>
                <p>Some description here...</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item" ui-sref="welcome.softwareDevService" style="cursor:pointer">
                <i class="fa fa-line-chart"></i>
                <h3>Software Developement</h3>
                <p>Some description here...</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 item" ui-sref="welcome.recruitService" style="cursor:pointer">
                <i class="fa fa-sitemap"></i>
                <h3>Recruitment and Employment </h3>
                <p>Some description here...</p>
            </div>            
        </div>
    </div>
</div>