<div class="team-block content content-center margin-bottom-40" id="team">
    <div class="container">
        <h2>Meet <strong>the team</strong></h2>
        <h4>Some description here...</h4>
        <div class="row">
            <div class="col-md-3 item">
                <img src="assets/frontend/onepage/img/people/img8-large.jpg" alt="Marcus Doe" class="img-responsive">
                <h3>Sandeep Rejeti</h3>
                <em>Managing Director</em>
                <p>Some text here...</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
            <div class="col-md-3 item">
                <img src="assets/frontend/onepage/img/people/img6-large.jpg" alt="Elena Taylor" class="img-responsive">
                <h3>Yechuri Durga Prasad</h3>
                <em>Managing Partner</em>
                <p>Some text here...</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
            <div class="col-md-3 item">
                <img src="assets/frontend/onepage/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive">
                <h3>Sateesh Kumar Ponnana </h3>
                <em>HR Manager</em>
                <p>Some text here...</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
            <div class="col-md-3 item">
                <img src="assets/frontend/onepage/img/people/img6-large.jpg" alt="Cris Nilson" class="img-responsive">
                <h3>Srinivasa Raju.V </h3>
                <em>Technical Head</em>
                <p>Some text here...</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
        </div>
    </div>
</div>